<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.dms.mapper.NoticeMapper">

    <select id="selectNoticeTitle" resultType="com.tang.dms.entity.bo.NoticeBO">
        SELECT id,title,creat_time FROM notice WHERE `status` = 1 ORDER BY creat_time DESC;
    </select>
    <select id="selectNoticeById" resultType="com.tang.dms.entity.bo.NoticeDetailBO">
        SELECT n.id,
        n.title,
        n.content,
        u.`name` AS adminName,
        n.creat_time AS creatDate
        FROM notice n
        LEFT JOIN user_admin ua ON n.admin_id = ua.aid
        LEFT JOIN `user` u ON ua.uid = u.id
        WHERE n.id = #{id}
    </select>
</mapper>