<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div><!--导航栏-->
    <a th:href="@{/}">首页</a>

    <!--未登录-->
    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/toLogin}">登录</a>
    </div>


    <!--登录：用户名、注销-->
    <div sec:authorize="isAuthenticated()">
        用户名:<span sec:authentication="name"></span>
<!--        角色:<span sec:authentication="principal.getAuthorities()"></span>-->
        角色:<span sec:authentication="principal.authorities"></span>
        <a th:href="@{/logout}">注销</a>
        <a th:href="@{/getInfo}">获取用户信息</a>
    </div>


</div>

<br>
<div sec:authorize="hasRole('vip1')">
    <h1>level1</h1>
    <a th:href="@{/level1/1}">Level1_1</a>
    <a th:href="@{/level1/2}">Level1_2</a>
    <a th:href="@{/level1/3}">Level1_3</a><br>
    <hr>
</div>

<div sec:authorize="hasRole('vip2')">
    <h1>level2</h1>
    <a th:href="@{/level2/1}">Level2_1</a>
    <a th:href="@{/level2/2}">Level2_2</a>
    <a th:href="@{/level2/3}">Level2_3</a><br>
    <hr>
</div>

<div sec:authorize="hasRole('vip3')">
    <h1>level3</h1>
    <a th:href="@{/level3/1}">Level3_1</a>
    <a th:href="@{/level3/2}">Level3_2</a>
    <a th:href="@{/level3/3}">Level3_3</a><br>
</div>


</body>
</html>