<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>松田宿舍管理系统</title>
<meta name="keywords" content="">
<meta name="description" content=" ">
<link rel="stylesheet" type="text/css" href="css/include.css" />
<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
<script src="js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>-->
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />-->
  <script type="text/javascript" language="javascript">
    //加入收藏
    function AddFavorite(sURL, sTitle) {
      sURL = encodeURI(sURL);
      try{
        window.external.addFavorite(sURL, sTitle);
      }catch(e) {
        try{
          window.sidebar.addPanel(sTitle, sURL, "");
        }catch (e) {
          alert("加入收藏失败，请使用Ctrl+D进行添加,或手动在浏览器里进行设置.");
        }
      }
    }
    //设为首页
    function SetHome(url){
      if (document.all) {
        document.body.style.behavior='url(#default#homepage)';
        document.body.setHomePage(url);
      }else{
        alert("您好,您的浏览器不支持自动设置页面为首页功能,请您手动在浏览器里设置该页面为首页!");
      }
    }
  </script>
    <style>
        /* 隐藏滚动条 */
        #listView::-webkit-scrollbar {
            display: none;
        }
        #listView {
            height: 550px;
        }

    </style>

    <script type="text/javascript">
        $(document).ready(function(e) {
            $(".menu_center a").click(function(){
                $(this).parent(".menu_center").children("a").eq($(this).index()).addClass("active").siblings().removeClass("active");
                // $(this).parent(".menu_center").next(".tabCon").children("div").hide().eq($(this).index()).show();
            })
        });
    </script>
</head>

<body>
<div class="top">
  <div class="top_center"> <strong>欢迎访问松田宿舍管理系统</strong>
    <span>

      <a sec:authorize="!isAuthenticated()" th:href="@{/toLogin}">登录</a>
      <span sec:authorize="isAuthenticated()">
        用户名:<a sec:authentication="name" href="#"></a>
        <a th:href="@{/logout}">注销</a>
      </span>
      <a onclick="AddFavorite(window.location,document.title)" href="javascript:void(0)">加为收藏</a>
      <a onclick="SetHome(window.location)" href="javascript:void(0)">设为首页</a>
    </span>
  </div>
</div>
<div class="header">
  <div class="header_center">
    <h1> <a href=""> <img src="imgs/logo.jpg"/> </a> </h1>
    <strong> 宿舍管理员电话：020-123456789 </strong>
    <form method="post" onclick="return false">
      <input type="text" name="" id="" value="" placeholder="请输入关键词" />
      <button><i class="fa fa-fw fa-search"></i> 搜索</button>
    </form>
</div>
</div>
<div class="menu">
  <div class="menu_center">
      <a href="#" class="active">首页</a>
      <a href="#">水电查询</a>
      <a href="#">宿舍保修</a>
      <a href="#">人力资源</a>
      <a href="#">调宿申请</a>
      <a href="#">产品信息</a>
      <a href="#">联系我们</a>
  </div>
</div>
<div class="banner">
  <div class="swiper-container swiper-container-banner">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url(imgs/banner2.jpg);"></div>
      <div class="swiper-slide" style="background-image: url(imgs/banner2.jpg);"></div>
      <div class="swiper-slide" style="background-image: url(imgs/banner2.jpg);"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>
<div class="title_prohot">
    <h3>公告</h3>
    <p>—— 宿舍管理系统公告栏 ——</p>
</div>
<div class="prolist">
    <div class="left_nav" style="position: relative;">
        <dl class="dlx1">
            <dt>系统公告</dt>
            <dd>System Announcement</dd>
        </dl>
        <ul id="listView" style="overflow:overlay;">
            <div th:onclick="|noticeDetail('${notice.id}')|" th:each="notice, noticeStat : ${noticeList}">
                <li id="noticeDetail"  style="margin-bottom: 15px;"> <a><i class="fa fa-fw fa-chevron-circle-right"></i>[[${notice.title}]]</a></li>
            </div>
        </ul>
        <dl class="dlx2" style="position:absolute;bottom:0;padding: 15px 0;padding-left: 20px;width:100%;">
            <dt>管理员电话</dt>
            <dd>020-123456</dd>
        </dl>
    </div>
    <div class="right_box">
        <style type="text/css">
            #notice { width: 700px; margin: 40px auto; border: 1px solid #999; padding: 0 20px;  border-radius:10px;}
            #notice li{list-style: none;}
        </style>
        <div style="text-align: center" id="notice">
            <h1 id="notice-title">公告栏</h1>
            <p id="notice-content">根据《中华人民共和国宪法》和相关法律法规规定，在保护公民合法言论自由的同时，禁止利用互联网、通讯工具、媒体以及其他方式从事以下行为：</p>

            <p style="text-align: right">发布时间：<p style="text-align: right" id="notice-creat-date"></p></p>
            <p style="text-align: right">发布者：<p style="text-align: right" id="notice-admin-name"></p></p>
        </div>
        <script type="text/javascript">
            function noticeDetail(id) {
                console.log(id);
                $.ajax({
                    url: "/getNoticeById/"+id,
                    type: "get",
                    dataType:'json',
                    // data:'',
                    // headers:'',
                    success:function(msg){
                        console.log(msg);
                        $("#notice-title").text(msg.noticeDetail.title);
                        $("#notice-content").text(msg.noticeDetail.content);
                        $("#notice-creat-date").text(msg.noticeDetail.creatDate);
                        $("#notice-admin-name").text(msg.noticeDetail.adminName);
                    },
                    error: function(msg){

                    }
                });
            }
        </script>
        <!--<script>
            $(document).ready(function () {
                $.ajax({
                    url:"/getNoticeById/",  //tab数据存储在json中
                    type:"get",
                    dataType:'json',
                    success: function(data){

                        var dataList=data.data[0].subset;
                        var ifrId =  document.getElementById("ifrContentId");

                        for (let value of dataList) {

                            var tabName=value.name;
                            //循环获取tab名称显示在页面上
                            var title="<div class='subtab"+" "+ tabName +" "+value.selected+"' name='"+value.name+"'><a href='#'>"+value.text+"</a></div>";
                            $("#tab_Gnenral").append(title);
                            //默认显示第一个tab也内容
                            if(value.text=="tab1") {
                                var content="<div class='iframe-container"+" "+value.name+ "-iframe" +" "+value.done+"'><iframe src='"+value.href+"' height='2200'  width='800'></iframe></div>";
                                $("#ifrContentId").empty().append(content);
                            }

                            //获取所有tab名称
                            var res = document.getElementsByClassName('subtab');
                            for(var i=0;i<res.length;i++){
                                //给每个tab添加click事件，点击每个tab选项卡显示该选项卡的页面内容
                                res[i].addEventListener('click',function(e){
                                    if($(this)[0].innerText==value.text) {
                                        var content = "<div class='iframe-container" + " " + value.name + "-iframe" + " " + value.done + "'><iframe height='2200'  width='800' src='" + value.href + "' ></iframe></div>";
                                        $("#ifrContentId").empty().append(content);  //empty()方法删除匹配元素的所有子节点，解决页面切换，内容不变的问题
                                    }
                                }, false);
                            }
                        }
                    }
                });
            })
        </script>-->

        <!--<div class="proli"> <a href=""> <img src="imgs/12b49c85a0dbd82ea9b1761ec504303f.jpg" /> </a> <span>双针压力表</span> <small>产品型号：YZS-102</small> </div>-->
    </div>
</div>

<div class="title_prohot">
  <h3>关于我们</h3>
  <p>—— 专注产品，追求创新 ——</p>
</div>
<div class="abouts"> <img src="imgs/about.jpg" />
  <dl>
    <dt>上海仪表集团供销有限公司</dt>
    <dd>
      <p> 上海仪表集团供销有限公司是独立核算、自主经营、具有法人地位的国有企业。隶属上海仪电控股（集团）公司，现由上海仪电科学仪器股份有限公司直接领导。公司前身是上海仪器仪表工业供销公司，组建于一九八一年初，作为上海仪器仪表行业 <a href="">查看更多</a> ...</p>
    </dd>
    <dd>
      <li>全国服务热线：021-111111</li>
      <li>销售部：021-111111</li>
      <li>传真：021-111111</li>
      <li>111111@163.com</li>
      <li>地址：中国•上海市</li>
    </dd>
  </dl>
</div>
<div class="title_prohot">
  <h3>新闻资讯</h3>
  <p>—— 掌握最新资讯，请关注我们——</p>
</div>
<div class="news">
  <ul class="hotnews">
    <li> <a href="">上海仪表集团供销有限公司是独立核算、自主经营</a> <span><i class="fa fa-fw fa-calendar"></i> 2018-11-24 </span> <span> <i class="fa fa-fw fa-tag"></i> <a href="">自动化仪器仪表</a> </span> </li>
    <li> <a href="">上海仪表集团供销有限公司是独立核算、自主经营</a> <span><i class="fa fa-fw fa-calendar"></i> 2018-11-24 </span> <span> <i class="fa fa-fw fa-tag"></i> <a href="">自动化仪器仪表</a> </span> </li>
    <li> <a href="">上海仪表集团供销有限公司是独立核算、自主经营</a> <span><i class="fa fa-fw fa-calendar"></i> 2018-11-24 </span> <span> <i class="fa fa-fw fa-tag"></i> <a href="">自动化仪器仪表</a> </span> </li>
    <li> <a href="">上海仪表集团供销有限公司是独立核算、自主经营</a> <span><i class="fa fa-fw fa-calendar"></i> 2018-11-24 </span> <span> <i class="fa fa-fw fa-tag"></i> <a href="">自动化仪器仪表</a> </span> </li>
    <li> <a href="">上海仪表集团供销有限公司是独立核算、自主经营</a> <span><i class="fa fa-fw fa-calendar"></i> 2018-11-24 </span> <span> <i class="fa fa-fw fa-tag"></i> <a href="">自动化仪器仪表</a> </span> </li>
    <li> <a href="">上海仪表集团供销有限公司是独立核算、自主经营</a> <span><i class="fa fa-fw fa-calendar"></i> 2018-11-24 </span> <span> <i class="fa fa-fw fa-tag"></i> <a href="">自动化仪器仪表</a> </span> </li>
  </ul>
  <a href="">— 更多 —</a> </div>
<div class="title_prohot">
  <h3>合作伙伴</h3>
  <p>—— 众志成城，合作共赢 ——</p>
</div>
<div class="caselist"> <img src="imgs/cusPic-1.jpg" /> </div>
<div class="footer">
  <div class="menu">
    <div class="menu_center"> <a href="index.html" class="active">网站主页</a> <a href="page.html">企业简介</a> <a href="list_pro.html">产品展示</a> <a href="page.html">人力资源</a> <a href="list_arc.html">新闻中心</a> <a href="page.html">营销网络</a> <a href="page.html">企业文化</a> <a href="page.html">联系我们</a> </div>
  </div>
  <div class="randerbox">
    <div class="address"> <span>上仪集团官网-上海仪表集团</span> <span>
      <label>全国服务热线：</label>
      021-11111111</span> <span>
      <label>销售部：</label>
      021-11111111</span> <span>
      <label>传真：</label>
      021-11111111</span> <span>
      <label>邮箱：</label>
      11111111@163.com</span> <span>
      <label>地址：</label>
      11111111</span> </div>
  </div>
  <div class="copyright"> <span>Copyright © 2020 All rights reserved.</span>
    <div>
      <ul>
        <li> <a href="">百度新闻</a> </li>
        <li> <a href="">百度新闻</a> </li>
        <li> <a href="">百度新闻</a> </li>
        <li> <a href="">百度新闻</a> </li>
        <li> <a href="">百度新闻</a> </li>
        <li> <a href="">百度新闻</a> </li>
        <li> <a href="">百度新闻</a> </li>
        <li> <a href="">百度新闻</a> </li>
        <li> <a href="">百度新闻</a> </li>
        <li> <a href="">百度新闻</a> </li>
      </ul>
      <strong>—— 友情链接 ——</strong> </div>
  </div>
</div>
<script>
			var swiper = new Swiper('.swiper-container-banner', {
				pagination: {
					el: '.swiper-pagination',
					dynamicBullets: true,
				},
			});

			var swiper = new Swiper('.swiper-container-hotlist', {
				slidesPerView: 5,
				slidesPerColumn: 2,
				spaceBetween: 15,
				freeMode: true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},
			});
		</script>
</body>
</html>